<div class="mat-elevation-z8">
  <mat-card fxLayout="column">
    <mat-card-header style="margin-bottom: 0px;">
      <mat-form-field appearance="outline">
        <mat-label>メールアドレス</mat-label>
        <input matInput [(ngModel)]="mail" required />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="getData()" style="margin-bottom: 20px;"
        [disabled]="!mail">読込</button>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field style="width: 6em;">
          <mat-label>販社コード</mat-label>
          <input matInput [value]="form.getRawValue().comp" disabled />
        </mat-form-field>
        <mat-form-field style="width: 6em;">
          <mat-label>お客様コード</mat-label>
          <input matInput [value]="form.getRawValue().cust" disabled />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 8em;">
          <mat-label>シコ名</mat-label>
          <input matInput formControlName="name" maxlength="5" required />
        </mat-form-field>
        <div>
          <button mat-flat-button color="warn" (click)="setPrev()" style="margin: 10px;"
            *ngIf="qrysrv.cur > 1">前へ</button>
          <span> {{qrysrv.cur}} 口目 ／ 計：{{qrysrv.cnt}} 口　</span>
          <button mat-flat-button color="accent" (click)="setNext()" style="margin: 10px;"
            *ngIf="qrysrv.cur < qrysrv.cnt" [disabled]="form.invalid">次へ(保存)</button>
          <button mat-flat-button color="accent" (click)="qrysrv.updTran()" style="margin: 10px;"
            *ngIf="qrysrv.cnt > 0 && qrysrv.cur == qrysrv.cnt" [disabled]="form.invalid">保存</button>
          <span *ngIf="form.invalid">シコ名と、00(控)まで力士を選択</span>
        </div>
        <table mat-table formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements">
          <ng-container matColumnDef="waku">
            <th mat-header-cell *matHeaderCellDef>持点</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
              <mat-form-field style="width: 2em;">
                <input matInput [value]="qrysrv.frmArr.getRawValue()[i].waku" disabled>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="riki">
            <th mat-header-cell *matHeaderCellDef>力士選択</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
              <mat-form-field style="width: 9em;">
                <mat-select formControlName="riki" required>
                  <mat-option *ngFor="let sval of makeSelVal()" [value]="sval.sval" [disabled]="sval.dis">
                    {{ sval.viewval }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="riki2">
            <th mat-header-cell *matHeaderCellDef>確定内容</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
              <mat-form-field style="width: 9em;">
                <mat-select [value]="qrysrv.frmArr.getRawValue()[i].riki2" disabled>
                  <mat-option *ngFor="let sval of qrysrv.riki.concat(qrysrv.yoko)" [value]="sval.sval">
                    {{ sval.viewval }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="c01">
            <th mat-header-cell *matHeaderCellDef>１</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c01}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c02">
            <th mat-header-cell *matHeaderCellDef>２</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c02}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c03">
            <th mat-header-cell *matHeaderCellDef>３</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c03}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c04">
            <th mat-header-cell *matHeaderCellDef>４</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c04}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c05">
            <th mat-header-cell *matHeaderCellDef>５</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c05}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c06">
            <th mat-header-cell *matHeaderCellDef>６</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c06}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c07">
            <th mat-header-cell *matHeaderCellDef>７</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c07}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c08">
            <th mat-header-cell *matHeaderCellDef>８</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c08}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c09">
            <th mat-header-cell *matHeaderCellDef>９</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c09}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c10">
            <th mat-header-cell *matHeaderCellDef>10</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c10}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c11">
            <th mat-header-cell *matHeaderCellDef>11</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c11}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c12">
            <th mat-header-cell *matHeaderCellDef>12</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c12}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c13">
            <th mat-header-cell *matHeaderCellDef>13</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c13}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c14">
            <th mat-header-cell *matHeaderCellDef>14</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c14}}
            </td>
          </ng-container>
          <ng-container matColumnDef="c15">
            <th mat-header-cell *matHeaderCellDef>15</th>
            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">{{qrysrv.frmArr.getRawValue()[i].c15}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </form>
      <span>力士一覧</span>
      <table mat-table [dataSource]="dataSource2" aria-label="Elements">
        <ng-container matColumnDef="west">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="9">東</th>
        </ng-container>
        <ng-container matColumnDef="wname">
          <th mat-header-cell *matHeaderCellDef>力士</th>
          <td mat-cell *matCellDef="let row">
            {{ row.wname }}
          </td>
        </ng-container>
        <ng-container matColumnDef="wmove">
          <th mat-header-cell *matHeaderCellDef>番付</th>
          <td mat-cell *matCellDef="let row">
            {{ row.wmove }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w6">
          <th mat-header-cell *matHeaderCellDef>6場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w6 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w5">
          <th mat-header-cell *matHeaderCellDef>5場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w5 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w4">
          <th mat-header-cell *matHeaderCellDef>4場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w4 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w3">
          <th mat-header-cell *matHeaderCellDef>3場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w3 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w2">
          <th mat-header-cell *matHeaderCellDef>2場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w2 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="w1">
          <th mat-header-cell *matHeaderCellDef>前場所</th>
          <td mat-cell *matCellDef="let row">
            {{ row.w1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="wposi">
          <th mat-header-cell *matHeaderCellDef>番付</th>
          <td mat-cell *matCellDef="let row">
            {{ row.wposi }}
          </td>
        </ng-container>
        <ng-container matColumnDef="east">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="9">西</th>
        </ng-container>
        <ng-container matColumnDef="ename">
          <th mat-header-cell *matHeaderCellDef>力士</th>
          <td mat-cell *matCellDef="let row">
            {{ row.ename }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emove">
          <th mat-header-cell *matHeaderCellDef>番付</th>
          <td mat-cell *matCellDef="let row">
            {{ row.emove }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e6">
          <th mat-header-cell *matHeaderCellDef>6場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e6 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e5">
          <th mat-header-cell *matHeaderCellDef>5場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e5 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e4">
          <th mat-header-cell *matHeaderCellDef>4場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e4 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e3">
          <th mat-header-cell *matHeaderCellDef>3場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e3 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e2">
          <th mat-header-cell *matHeaderCellDef>2場所前</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e2 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="e1">
          <th mat-header-cell *matHeaderCellDef>前場所</th>
          <td mat-cell *matCellDef="let row">
            {{ row.e1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="eposi">
          <th mat-header-cell *matHeaderCellDef>番付</th>
          <td mat-cell *matCellDef="let row">
            {{ row.eposi }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['west', 'east']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>