p {
    font-family: 'Courier New', Courier, monospace;
  }
  
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    padding: 2px;
    border-right: 0.5px solid grey;
  }
  
.mat-table {
    overflow-x: scroll;
    display: table;
    padding-top: 0px;
    padding-left: 0px;
  }

// .mat-card > * {
//   margin-top:5px;
// }  
  
tr.mat-row,
tr.mat-header-row {
  height: 20px;
}
.mat-form-field {
  height: 15px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 1px;
  // border-left: 0.5px solid grey;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 1px;
}
// inputの下線を非表示に
::ng-deep .mat-form-field-underline{
   display: none;
  }
::ng-deep td .mat-form-field-infix {
    border: none;
}
// disabledも色が薄くならないように
::ng-deep.mat-form-field input:disabled {
    color: black;
}
::ng-deep.mat-form-field select:disabled {
    color: black;
}
::ng-deep.mat-form-field .mat-select-disabled .mat-select-value {
    color: black;
}
// mat-select disabled の▼を非表示に
::ng-deep .mat-select.mat-select-disabled .mat-select-arrow {
    display: none;
}